<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta
            name="author"
            content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
        />
        <meta name="generator" content="Hugo 0.79.0" />
        <title>Starter Template · Bootstrap v5.0</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>The MegaBase</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/common.css" />

        <meta name="theme-color" content="#7952b3" />

        <!-- Custom styles for this template -->
        <link href="starter-template.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta name="theme-color" content="#7952b3">
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/public/css/common.css">


    </head>

<!-- header section stars-->

<header class="header">

    <a href="#" class="logo">
        <img src="/public/assets/logo.svg" alt="">
    </a>

        <nav class="navbar">


            <a href="#home"> Home</a>
            <a href="#about"> About</a>
            <a href="#services"> Services</a>
            <a href="#contact"> Contact</a>
            <a href="/api/customer"> Customers</a>
            <a href="/api/customer/add"> Register</a>
            <a href="/api/recover"> Recovery </a>
        </nav>




</header>
<section id="home">
    <!-- Slideshow container -->
    <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img class="slider-img" src="/public/assets/database-1.jpg">
        </div>

        <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img class="slider-img" src="/public/assets/database-2.jpg">
        </div>

        <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img class="slider-img" src="/public/assets/database-3.jpg" >
        </div>
        <br>

        <!-- The dots/circles -->


        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
<br>
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>


  </section>

  <center class="titlecenter">About</center>
<section id="about" class="aboutme">

   <p class="para">This website is for the sake of learning purposes only our team list is as following:</p>
   <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">

           </div>
           <div class="details">
             <div class="name">Hissah Abdulaziz</div>
             <div class="job">FrontEnd</div>
           </div>

         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">

           </div>
           <div class="details">
             <div class="name">Abdulaziz Almuhaidib</div>
             <div class="job">FrontEnd</div>
           </div>

         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">

           </div>
           <div class="details">
             <div class="name">Ghadah abughararh</div>
             <div class="job">BackEnd</div>
           </div>

         </div>
        </div>
      </div>
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">

           </div>
           <div class="details">
             <div class="name">Aqeel Khawaja</div>
             <div class="job">BackEnd</div>
           </div>

         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">

           </div>
           <div class="details">
             <div class="name">Muhammad Alhubaishi</div>
             <div class="job">BackEnd</div>
           </div>

         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">

           </div>
           <div class="details">
             <div class="name">Faraj </div>
             <div class="job">BackEnd</div>
           </div>

         </div>
        </div>
      </div>
    </div>
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>
</section>

<section id="services"></section>
<center  class="titlecenter"> Services</center>

<div class="sercontainer">

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="/public/assets/2.jpg" alt="Digital Transformation">
        </div>
        <div class="text">Digital Transformation</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-3">
      <div class="gallery-item">
        <div class="image">
            <img src="/public/assets/1.jpg" alt="Digital Transformation">
        </div>
        <div class="text">CyberSecurity</div>
      </div>
    </div>

    <div class="gallery-container h-2">
      <div class="gallery-item">


      </div>
    </div>

    <div class="gallery-container w-2">
      <div class="gallery-item">


      </div>
    </div>

    <div class="gallery-container w-4 h-1">
      <div class="gallery-item">
        <div class="image">
            <img src="/public/assets/3.jpg" alt="">
        </div>
        <div class="text">Big Data</div>
      </div>
    </div>

    <div class="gallery-container h-1">
      <div class="gallery-item">


      </div>
    </div>





  </div>


</section>


<section id="contact" >

    <center class="titlecenter"> contact</center>


    <div class="contact-info">
        <div class="card">
          <i class="card-icon far fa-envelope"></i>
          <p>email@domain.com</p>
        </div>

        <div class="card">
          <i class="card-icon fas fa-phone"></i>
          <p>+000000000000</p>
        </div>

        <div class="card">
          <i class="card-icon fas fa-map-marker-alt"></i>
          <p>New York, USA</p>
        </div>
      </div>

</section>



<script>
    /*
     *  Slider JS
     */
     let slideIndex = 0;
     let timeoutHandler=null;
showSlides();
// Next/previous controls
function plusSlides(n) {
    //slideIndex += n;
    if(n === -1){
        slideIndex -= 2;
        showSlides();
    }
    else{
        showSlides();
    }
}

// Thumbnail image controls
function currentSlide(n) {
    slideIndex = n-1;
  showSlides();
}

    function showSlides() {
        clearTimeout(timeoutHandler);

  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if(slideIndex < 1){
      slideIndex = slides.length;
  }
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  timeoutHandler = setTimeout(showSlides, 3000); // Change image every 2 seconds
}

    </script>
</body>

</html>
