<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta
            name="author"
            content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
        />
        <meta name="generator" content="Hugo 0.79.0" />
        <title>Starter Template · Bootstrap v5.0</title>

        <link
            rel="canonical"
            href="https://getbootstrap.com/docs/5.0/examples/starter-template/"
        />

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/common.css" />

        <meta name="theme-color" content="#7952b3" />

        <!-- Custom styles for this template -->
        <link href="starter-template.css" rel="stylesheet" />
    </head>

    <body>
        <nav
            class="navbar navbar-expand-md navbar-dark bg-dark fixed-top team-nav"
        >
            <div class="container-fluid">
                <a class="navbar-brand unselectable">MegaBase</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbarsExampleDefault"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="#"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link disabled"
                                href="#"
                                tabindex="-1"
                                aria-disabled="true"
                                >Disabled</a
                            >
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="dropdown01"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                >Dropdown</a
                            >
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="dropdown01"
                            >
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Another action</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Something else here</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form
                        class="form-inline my-2 my-lg-0 forma"
                        method="GET"
                        action="/api/search/<% value = '' %>"
                    >
                        <input
                            class="form-control mr-sm-2"
                            type="text"
                            name="search"
                            placeholder="Search"
                            aria-label="Search"
                        />
                        <button
                            class="btn btn-secondary my-2 my-sm-0"
                            type="submit"
                        >
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div
            style="background: url(/public/assets/big-g5a01acead_1920.jpg)"
            class="jumbotron bg-cover text-white"
        >
            <div class="container py-5 text-center">
                <h1 class="display-4 font-weight-bold">
Recover Page                </h1>
                <p class="font-italic mb-0 fonter">
                    
                </p>
                <p class="font-italic">
                    <a
                        href="https://bootstrapious.com"
                        class="text-white fonter"
                    >
                        <u></u>
                    </a>
                </p>
            </div>
        </div>

        <main class="container">
            <div class="starter-template text-center py-5 px-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Is Gold</th>
                            <th scope="col">Recover</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let counter=1 %> <% customers.forEach(item=>{ %>
                        <tr>
                            <td><%= counter++ %></td>
                            <td><%= item.name %></td>
                            <td><%= item.mobile %></td>
                            <td>
                                <% if(item.isGold) { %>
                                <img
                                    width="25"
                                    height="30"
                                    src="/public/assets/right.png"
                                />
                                <% } else { %>
                                <img
                                    width="25"
                                    height="30"
                                    src="/public/assets/wrong.png"
                                />
                                <%} %>
                            </td>
                            <td>
                                <a
                                    href="/api/recover/<%= item._id %>"
                                    class="btn btn-primary"
                                    >Recover</a
                                >
                            </td>
                        </tr>
                        <% })%>
                    </tbody>
                </table>
            </div>
        </main>
        <!-- /.container -->

        <script
            src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
