<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>The MegaBase</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/common.css">
    
    <meta name="theme-color" content="#7952b3">




    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <script>
        // we need this to make sure if there is already an line being open for editing
        var currentEditLine = null;

        function ShowEdit(itemID) {
            // nothing to see here
            console.log("test show");

            // make sure we another item is not open for editing
            if (currentEditLine != null) {
                CancelEdit(currentEditLine);
            }

            currentEditLine = itemID;

            // hide elements
            document.getElementById("nameLabel" + itemID).style.display =
                "none";
            document.getElementById("mobileLabel" + itemID).style.display =
                "none";
            document.getElementById("goldLabel" + itemID).style.display =
                "none";
            document.getElementById("editBtn" + itemID).style.display =
                "none";
            document.getElementById("deletBtn" + itemID).style.display =
                "none";

            // show elements
            document.getElementById("nameInput" + itemID).style.display =
                "block";
            document.getElementById("mobileInput" + itemID).style.display =
                "block";
            document.getElementById("goldInput" + itemID).style.display =
                "block";
            document.getElementById(
                "confirmEditBtn" + itemID
            ).style.display = "block";
            document.getElementById(
                "cancelEditBtn" + itemID
            ).style.display = "block";
        }

        function CancelEdit(itemID) {
            console.log("test cancel");

            currentEditLine = null;
            // show elements
            document.getElementById("nameLabel" + itemID).style.display =
                "inline";
            document.getElementById("mobileLabel" + itemID).style.display =
                "inline";
            document.getElementById("goldLabel" + itemID).style.display =
                "inline";
            document.getElementById("editBtn" + itemID).style.display =
                "inline";
            document.getElementById("deletBtn" + itemID).style.display =
                "inline";

            // hide elements
            document.getElementById("nameInput" + itemID).style.display =
                "none";
            document.getElementById("mobileInput" + itemID).style.display =
                "none";
            document.getElementById("goldInput" + itemID).style.display =
                "none";
            document.getElementById(
                "confirmEditBtn" + itemID
            ).style.display = "none";
            document.getElementById(
                "cancelEditBtn" + itemID
            ).style.display = "none";
        }

        function SubmitEdit(itemID) {
            console.log("test submit");
            console.log(itemID);

            // get elements to send as form
            var itemIDInput = document.getElementById("itemid" + itemID);
            var nameInput = document.getElementById("nameInput" + itemID);
            var mobileInput = document.getElementById(
                "mobileInput" + itemID
            );
            var goldInput = document.getElementById("goldInput" + itemID);

            var hiddenValue = document.createElement("input");
            hiddenValue.type = "hidden";
            hiddenValue.name = "_method";
            hiddenValue.value = "PUT";

            // now create the form, set it up, attach the inputs to it, then submit

            var form = document.createElement("FORM");
            form.setAttribute("method", "POST");
            form.setAttribute(
                "action",
                "/api/customer/customers/" +
                    itemIDInput.value +
                    "?_method=PUT"
            );

            form.appendChild(nameInput);
            form.appendChild(mobileInput);
            form.appendChild(goldInput);
            form.appendChild(hiddenValue);

            document.body.appendChild(form);

            form.submit();
        }
    </script>
</head>

<body>

<!-- header section stars-->

<header class="header">

    <a href="#" class="logo"> 
        <img src="/public/assets/logo.svg" alt="">
    </a>

        <nav class="navbar">


            <a href="#home"> Home</a>
            <a href="#about"> About</a>
            <a href="#services"> Services</a>
            <a href="#contact"> Contact</a>
        </nav>

    <form class="form-inline my-2 my-lg-0 forma"
                method="GET" action="/api/search/<% value = '' %>">
                 <input class="form-control mr-sm-2" type="text" name="search"
                  placeholder="Search" aria-label="Search">
                 <button class="bbutton" type="submit">Search</button>
               </form>
 

</header>

   

<main class="container">
    <!-- <div class="btn-group" > -->
    <!-- <p><button onclick="sortTablebyname()" class="bbutton btn btn-primary px-5 btn-inner-frame">Sort By Name</button></p> -->
    <!-- <p><button onclick="sortTablebyGoldstatus()" class="bbutton btn btn-primary px-5 btn-inner-frame">Sort By Gold status</button></p> -->
    <!-- </div> -->
    <div class="starter-template text-center py-5 px-3">

        <table id="sortable" class="table">
            <thead>
                <tr>
                    <th scope="col"> #</th>
                    <th onclick="sortBy(7)">Full Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Is Gold</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% let counter=1 %> <% customers.forEach(item=>{ %>
                <tr>
                    <td>
                        <%= counter++ %>
                        <input
                            id="itemid<%= counter %>"
                            type="hidden"
                            name="itemid<%= counter %>"
                            value="<%= item._id %>"
                        />
                    </td>
                    <td>
                        <span id="nameLabel<%= counter %>">
                            <%= item.name %>
                        </span>
                            <input
                                id="nameInput<%= counter %>"
                                type="text"
                                class="form-control hide_item"
                                value="<%= item.name %>"
                                name="name"
                                placeholder="Enter Your Full Name"
                            />
                        </td>
                        <td>
                            <span id="mobileLabel<%= counter %>">
                                <%= item.mobile %>
                            </span>
                            <input
                                id="mobileInput<%= counter %>"
                                type="text"
                                class="form-control hide_item"
                                value="<%= item.mobile %>"
                                name="mobile"
                                placeholder="Enter Your Mobile No."
                            />
                        </td>
                        <td>
                            <% if(item.isGold) { %>
                            <img
                                id="goldLabel<%= counter %>"
                                width="25"
                                height="30"
                                src="/public/assets/right.png"
                            />
                            <% } else { %>
                            <img
                                id="goldLabel<%= counter %>"
                                width="25"
                                height="30"
                                src="/public/assets/wrong.png"
                            />
                            <%} %> <% if(item.isGold) { %>
                            <input
                                id="goldInput<%= counter %>"
                                type="checkbox"
                                class="form-control hide_item"
                                value="true"
                                name="isGold"
                                checked
                            />
                            <% } else { %>
                            <input
                                id="goldInput<%= counter %>"
                                type="checkbox"
                                class="form-control hide_item"
                                value="true"
                                name="isGold"
                            />
                            <%} %>
                        </td>
                        <td>
                            <a
                                id="editBtn<%= counter %>"
                                href="javascript:void(0)"
                                class="btn btn-primary"
                                onclick="ShowEdit(<%= counter %>)"
                                >Edit</a
                            >
                            <a
                                id="confirmEditBtn<%= counter %>"
                                href="javascript:void(0)"
                                class="btn btn-primary hide_item"
                                onclick="SubmitEdit(<%= counter %>)"
                                >Confirm</a
                            >
                        </td>
                        <td>
                            <!-- <a class="btn btn-raised btn-danger" href="/api/customer/delete/<%= item._id %>">Delete</a></td>  -->
                            <a
                                id="deletBtn<%= counter %>"
                                class="btn btn-raised btn-danger"
                                onclick="if(window.confirm('Are You Sure You Want To Delte This Entery?')) {document.location.href='/api/customer/delete/<%= item._id %>'}"
                                >Delete</a
                            >
                            <a
                                id="cancelEditBtn<%= counter %>"
                                href="javascript:void(0)"
                                class="btn btn-raised btn-danger hide_item"
                                onclick="CancelEdit(<%= counter %>)"
                                >Cancel</a
                            >
                        </td>
                    </tr>
                    <% })%>
                </tbody>
            </table>
        </div>
    </main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
        
        
        <script>

            cPrev = -1;
            
            function sortBy(c) {
                rows = document.getElementById("sortable").rows.length;
                columns = document.getElementById("sortable").rows[0].cells.length;
                arrTable = [...Array(rows)].map(e => Array(columns));
            
                for (ro=0; ro<rows; ro++) {
                    for (co=0; co<columns; co++) {
            
                        arrTable[ro][co] = document.getElementById("sortable").rows[ro].cells[co].innerHTML;
                    }
                }
            
                th = arrTable.shift();
            
                if (c !== cPrev) {
                    arrTable.sort(
                        function (a, b) {
                            if (a[c] === b[c]) {
                                return 0;
                            } else {
                                return (a[c] < b[c]) ? -1 : 1;
                            }
                        }
                    );
                } else {
                    arrTable.reverse();
                }
            
                cPrev = c;
            
                arrTable.unshift(th);
            
                for (ro=0; ro<rows; ro++) {
                    for (co=0; co<columns; co++) {
                        document.getElementById("sortable").rows[ro].cells[co].innerHTML = arrTable[ro][co];
                    }
                }
            }
            
            
            function sortTablebyname() {
                          var table, rows, switching, i, x, y, shouldSwitch;
                          table = document.getElementById("myTable");
                          switching = true;
                          /*Make a loop that will continue until
                          no switching has been done:*/
                          while (switching) {
                            //start by saying: no switching is done:
                            switching = false;
                            rows = table.rows;
                            /*Loop through all table rows (except the
                            first, which contains table headers):*/
                            for (i = 1; i < (rows.length - 1); i++) {
                              //start by saying there should be no switching:
                              shouldSwitch = false;
                              /*Get the two elements you want to compare,
                              one from current row and one from the next:*/
                              x = rows[i].getElementsByTagName("TD")[1];
                              y = rows[i + 1].getElementsByTagName("TD")[1];
                              //check if the two rows should switch place:
                              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                              }
                            }
                            if (shouldSwitch) {
                              /*If a switch has been marked, make the switch
                              and mark that a switch has been done:*/
                              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                              switching = true;
                            }
                          }
                        }
            
            </script>
            
<script>
    function sortTablebyGoldstatus() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[3];
          y = rows[i + 1].getElementsByTagName("TD")[3];
          //check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
</script>
</body>

</html>
