body{
  margin:20px;
  padding:0;
  text-align:center;
  /* display: flex; */
  min-height: 100vh;
  align-items: center; 
   justify-content: center;

  position: relative;
 }
 

body::before{
  padding-top: 30px;
  content: '';
  position: absolute;
  width: 100%;
  /* background: var(--duck); */
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;

}

.para{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color:var(--ocean);
}


:root{
 
    --Stone: #6F7275;
    --Midnight: #1E2b3a;
    --ocean: #364A60;
    --duck : #Cad1ce;
    --Ivory: #F2EBe5;
    --Amber: #c3965F;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
font-family: 'roboto', sans-serif;
margin:0; padding:0;
box-sizing: border-box;
outline: none; border:none;
text-decoration: none;
text-transform: capitalize;
transition: .5s linear;

}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: inherit;
}

html::-webkit-scrollbar{
  width: .8rem
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: rgb(204, 191, 191);
  border-radius: 5rem;
}


.header{
background: var(--ocean);
display: flex;
align-items: center;
justify-content: space-between;
padding:0.1rem 7%;
border-bottom: var(--border);
position: fixed;
top:0; left:0; right: 0;
z-index: 1000;
}

p{
  
  font-size: 20px;
  text-align: justify;
  justify-content: center;
}

.header .logo img{
  height: 6rem;

}

.header .navbar a {
  margin:0 1rem;
  font-size: 1.6rem;
  color: #fff;

}
.header .navbar a:hover{
  text-decoration: none;
  background-color: var(--Amber);
  color: #fff; 
 border-bottom:   var(--Amber);  
padding: .5rem;
}

.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 2rem;
}
 .header .icons div:hover{
   color:var(--Amber)
 }

 .btn{
margin:0 1rem;
  font-size: 1.6rem;
  color: #fff;


 }

/* .form-edit{
  margin-top: 50px;
body {
    padding-top: 20px;
    background-color: #fff;
}
.form-edit {
    margin-top: 50px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.forma {
  padding-left: 600px !important;
} */

/* .team-nav {
  background-color: #083f76 !important;
  background-color: #0093e9;
  background-image: linear-gradient(
    160deg,
    #0093e9 0%,
    #80d0c7 50%,
    #58924b 100%
  );
} */
/* 
.navbar-brand {
  color: #000 !important;
  font-weight: bold;
  font-size: 120%;
      padding-left: 600px !important;
}
} */


.team-nav {
    background-color: #083f76 !important;
    background-color: #0093e9;
    background-image: linear-gradient(
        160deg,
        #0093e9 0%,
        #80d0c7 50%,
        #58924b 100%
    );
}

.navbar-brand {
    color: #000 !important;
    font-weight: bold;
    font-size: 120%;
}

/* 
Slider */
/* 
.bg-cover {
    background-size: cover !important;
}

.font-weight-bold {
    font-weight: 700 !important;
    color: #000 !important;
}

.fonter {
    color: #000;
}

.bbutton {
  color: #fff;
  /* background-color: #007bff; */
  /* border-color: #007bff; 
  background-image: linear-gradient(
    160deg,
    #0093e9 0%,
    #80d0c7 50%,
    #58924b 100%
  );
}

*/
/* .label-checkbox {
  display: block;
  padding-left: 15px;
  text-indent: 15px;
} */
/* .input-checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  left: 2px;
  top: -25px;
  *overflow: hidden;
}
.btn-group{
  padding: 10px 24px; /* Some padding
  float: left;
}
 */


/*
.btn-inner-frame{
  color: black;
} 
*/



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 50rem;
  min-width: 100%;
  min-height: 50rem;
  position: relative;
  margin: auto;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(224, 12, 12, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slider-img{
  height: 50rem;
  width: 100%;
}
#home{
  padding-top: 5%;
}

.titlecenter  {
 
  color:var(--Amber);
  font-size: 50px;
 
  
  }
.par{
  font-size: 200px!important;
}
  
/* ABOUT SECTION */
.aboutme{
  background-color: var(--Ivory);
  padding-top: 30px;
  padding-bottom: 30px;
}

::selection{
  background:	var(--Midnight);
 
}
.container{

  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
.container .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background:	var(--Midnight);
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
  color: var(--Midnight);
}
.card .content .job{
  font-size: 20px;
  color:	var(--Midnight);
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background:	var(--Midnight);
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: 	var(--Midnight);
  background-color: transparent;
  border-color:	var(--Midnight);
}
 .container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #364A60;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}





/* services */



.sercontainer{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows:100px 300px;
  grid-gap:10px;
  grid-auto-flow: dense;
}

.gallery-item{
  width:100%;
  height:100%;
  position:relative;
}

.gallery-item .image{
  width:100%;
  height:100%;
  overflow:hidden;
}

.gallery-item .image img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position:50% 50%;
  cursor:pointer;
  transition:.5s ease-in-out;
}
.gallery-item:hover .image img{
  transform:scale(1.5);
}

.gallery-item .text{
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
  font-size:25px;
  pointer-events:none;
  z-index:4;
  transition: .3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text{
  opacity:1;
  animation: move-down .3s linear;
  padding:1em;
  width:100%;
}

.w-1{
  grid-column: span 1;
}
.w-2{
  grid-column: span 2;
  background: var(--ocean);
}
.w-3{
  grid-column: span 3;
}
.w-4{
  grid-column: span 4;
}
.w-5{
  grid-column: span 5;
}
.w-6{
  grid-column: span 6;
}

.h-1{
  grid-row: span 1;
  background: var(--duck);
}
.h-2{
  grid-row: span 2;
  background: var(--Amber);
}
.h-3{
  grid-row: span 3;
  background: var(--Amber);
}
.h-4{
  grid-row: span 4;
  background: var(--Amber);

}
.h-5{
  grid-row: span 5;
}
.h-6{
  grid-row: span 6;
}




@media screen and (max-width:500px){
  .container{
      grid-template-columns: repeat(1,1fr);
  }
  .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
      grid-column:span 1;
  }
}


@keyframes move-down{

  0%{
      top:10%;
  }
  50%{
      top:35%;
  }
  100%{
      top:50%;
  }
}

/* contact */

.contact-info{
  display: flex;
  width: 100%;
  max-width: 22000px;
  align-items: flex-start;
  justify-content: space-around;
  padding: initial;
}


.card{
  background: var(--ocean);
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.card-icon{
  font-size: 28px;
  background:var(--Amber);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: var(--Amber);
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}



  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    flex-direction: column;
  }


  /*footer*/
 
    /* color: #fff; */
    /* background-color: #007bff; */
    /* border-color: #007bff; */
    /* background-image: linear-gradient(
        160deg,
        #0093e9 0%,
        #80d0c7 50%,
        #58924b 100%
    );
} */

.label-checkbox {
    display: block;
    padding-left: 15px;
    text-indent: 15px;
}
.input-checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    left: 2px;
    top: -25px;
    *overflow: hidden;
}
.btn-group {
    padding: 10px 24px; /* Some padding */
    float: left;
}
.btn-inner-frame {
    color: black;
}

.hide_item {
    display: none;
}
